* {
  box-sizing: border-box;
}

:root {
  --color-text: #40354E;
  --color-primary: #FF596F;
  --color-white: #fff;
  --color-black: #000;
  --color-neutral-100: #f2f2f6;
  --color-neutral-200: #d6dadf;

  --lineHeight-small: 1.4;
  --lineHeight-medium: 1.6;

  --fontSize-small: 14px;
  --fontSize-medium: 16px;

  --border-hairline: 1px solid var(--color-neutral-200);
  --border-small: 2px solid var(--color-neutral-200);

  --dimension: 4px;
  --dimension-01: calc(var(--dimension) * 1); /* 4px */
  --dimension-02: calc(var(--dimension) * 2); /* 8px */
  --dimension-03: calc(var(--dimension) * 3); /* 12px */
  --dimension-04: calc(var(--dimension) * 4); /* 16px */
  --dimension-05: calc(var(--dimension) * 6); /* 24px */
  --dimension-06: calc(var(--dimension) * 8); /* 32px */
  --dimension-07: calc(var(--dimension) * 12); /* 48px */

  --radius-small: 4px;
  --radius-medium: 8px;
}

body {
  width: 100%;
}

.app {
  width: 100%;
  padding-bottom: 200px;
}

.nav {
  width: 100%;
  border-bottom: var(--border-hairline);
  padding: var(--dimension-04);
}

.nav a:link,
.nav a:visited,
.nav a:active {
  margin-right: var(--dimension-04);
  text-decoration: none;
  color: var(--color-text);
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.activeNavLink {
  color: var(--color-primary);
}
